// ┏┓╻+╻ ╱┏┳┓┏┓┏┳┓┏┓╻
// ┃┃┃┃┗━┓╹┃╹┣┫┃┃┃┣┫┃   Read the manpage:
// ╹┗┛╹╱ ╹ ╹ ╹╹╹ ╹╹╹┗┛  $ man nixtamal-manifest
version "1.0.0"
default-fetch-time eval
inputs {
	nilla {
		archive {
			url "https://github.com/nilla-nix/nilla/archive/{{fresh_value}}.tar.gz"
		}
		hash algorithm=SHA-256
		fresh-cmd {
			$ git ls-remote --heads "https://github.com/nilla-nix/nilla.git" --refs "refs/heads/main"
			| cut -f1
		}
	}
	nixpkgs {
		archive {
			url "https://github.com/NixOS/nixpkgs/archive/{{fresh_value}}.tar.gz"
		}
		hash algorithm=SHA-256
		fresh-cmd {
			$ git ls-remote --heads "https://github.com/NixOS/nixpkgs.git" --refs "refs/heads/nixos-unstable"
			| cut -f1
		}
	}
	wrappers {
		archive {
			url "https://github.com/lassulus/wrappers/archive/{{fresh_value}}.tar.gz"
		}
		hash algorithm=SHA-256
		fresh-cmd {
			$ git ls-remote --heads "https://github.com/lassulus/wrappers.git" --refs "refs/heads/main"
			| cut -f1
		}
	}
	nilla-cli {
		archive {
			url "https://github.com/nilla-nix/cli/archive/{{fresh_value}}.tar.gz"
		}
		hash algorithm=SHA-256
		fresh-cmd {
			$ git ls-remote --heads "https://github.com/nilla-nix/cli.git" --refs "refs/heads/main"
			| cut -f1
		}
	}
	home-manager {
		archive {
			url "https://github.com/nix-community/home-manager/archive/{{fresh_value}}.tar.gz"
		}
		hash algorithm=SHA-256
		fresh-cmd {
			$ git ls-remote --heads "https://github.com/nix-community/home-manager.git" --refs "refs/heads/master"
			| cut -f1
		}
	}
}
